.sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(76,96,133,.2);
    border: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    height: 50px;
    outline: none;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.filter{
    font-size: 28px;
}

.top{
    font-size: 10px;
    color: #babbc4;
}

.sort a{
    margin-left: 1rem;
    margin-bottom: 3px;
}

.secondContainer{
    display: flex;
    flex-direction: column;
}

.arrow{
    margin-right:10px;
}

.sort:hover{
    background-color: #3c4c6e;
}