.container{
    list-style: none;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 5fr));
    gap: 20px;

    @media(max-width: 992px){
        grid-template-columns: repeat(auto-fit ,minmax(150px, 5fr));
    }
}

.list{
    padding-left:0 ;
}