.title{
    color: white;
    font-size: 2rem;
    display: flex;
}

.filterOptions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.SelectGame{
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
}

.SearchBar{
    width: 30rem;
    margin-left: 20px;
}

.price{
    border-right: 1px solid #82828c;
    margin-left: 20px;
    width: 10rem;
}

.type{
    width: 10rem;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gamesContainer{
    background-color:#303141;
    width: 100%;
    padding: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.gamesContainer p{
    color: #82828c
}

.containerHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.containerFooter{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.button{
    background-color: transparent;
    outline: none;
    border: 1px solid #5762d5;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.buttonM{
    background-color: transparent;
    outline: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: #5762d5;
}

.buttonM:hover{
    background-color: #5762d5;
}

.arrowLeft{
    cursor: pointer;
    transform: rotate(90deg);
}

.arrowRight{
    cursor: pointer;
    transform: rotate(-90deg);
}

@media (max-width: 576px) {
    .containerHead p{
        display: none;
    }
    .sort {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .filterOptions{
        flex-direction: column;
    }
    .price, .type , .SearchBar , .SelectGame {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .SearchBar{
        width: 25rem;
    }
    .SelectGame{
        width: 15rem;
    }
    .price, .type{
        width: 8rem;
    }
}


@media (min-width: 576px) {
    .gamesContainer{
        max-width: 540px;
    }

    .sort{
        width: 10rem;
    }
}

@media (min-width: 768px) {
    .gamesContainer{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .gamesContainer{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .gamesContainer{
        max-width: 1140px;
    }
    .SearchBar{
        width: 32rem;
    }
}

@media (min-width: 1400px) {
    .gamesContainer{
        max-width: 1320px;
    }
    .SearchBar{
        width: 37rem;
    }
}

@media (min-width: 1200px) and (max-width: 1260px) {
    .gamesContainer{
        max-width: 1500px;
    }
}