* {
  box-sizing: border-box;
}

:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #37384b;
  background-image: url(../public/assets/ffxiv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
