* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #37384b;
  background-image: url(../public/assets/ffxiv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
